---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZG1pdHJ5anVtQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"090c3eaf-b10c-4086-adcd-e60459c239c6","expires_at":"2019-03-18T02:47:59.343Z"}'
  recorded_at: Mon, 18 Mar 2019 02:27:59 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Third Test List"}}'
    headers:
      Authorization:
      - '090c3eaf-b10c-4086-adcd-e60459c239c6'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/e8259f6b-def2-4a46-bf2c-ac4e3b56e826
    body:
      encoding: UTF-8
      string: '{"name":"Third Test List","src":"http://todoable.teachable.tech/api/lists/e8259f6b-def2-4a46-bf2c-ac4e3b56e826","id":"e8259f6b-def2-4a46-bf2c-ac4e3b56e826"}'
  recorded_at: Mon, 18 Mar 2019 02:27:59 GMT
recorded_with: VCR 4.0.0
