---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZG1pdHJ5anVtQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e9f26ce5-c055-421a-8aa2-4395cc6c3c71","expires_at":"2019-03-18T02:45:33.948Z"}'
  recorded_at: Mon, 18 Mar 2019 02:25:34 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Test List"}}'
    headers:
      Authorization:
      - e9f26ce5-c055-421a-8aa2-4395cc6c3c71
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":["has already been taken"]}'
  recorded_at: Mon, 18 Mar 2019 02:25:34 GMT
recorded_with: VCR 4.0.0
