---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZG1pdHJ5anVtQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"2e7c2445-539f-4398-a435-8b6c0f94259f","expires_at":"2019-03-18T02:13:34.944Z"}'
  recorded_at: Mon, 18 Mar 2019 01:53:35 GMT
[...]
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 154518cf-614c-4565-85c4-46d39a761afb
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"Third List","src":"http://todoable.teachable.tech/api/lists/80df4673-dc8e-467f-9a61-ea42f1c3cee9","id":"80df4673-dc8e-467f-9a61-ea42f1c3cee9"},{"name":"Second
        List","src":"http://todoable.teachable.tech/api/lists/f2bdb9a8-ed25-42c7-b3a6-93452cbbded8","id":"f2bdb9a8-ed25-42c7-b3a6-93452cbbded8"},{"name":"First
        List","src":"http://todoable.teachable.tech/api/lists/07472b3e-9fd5-40f2-8af9-97d6e169aa91","id":"07472b3e-9fd5-40f2-8af9-97d6e169aa91"}]}'
  recorded_at: Mon, 18 Mar 2019 01:53:35 GMT
recorded_with: VCR 4.0.0
